In [38]:
def barista(coffees):
    time, total = 0, 0
    for ct in sorted(coffees):
        time += ct
        total += time
        time += 2
    return total

In [39]:
sorted([9,8,10,7], reverse=True)

[10, 9, 8, 7]

In [40]:
def barista(coffees):
    return sum(n*(i+1)+2*i for i,n in enumerate(sorted(coffees, reverse=True)))

# Anonymous Function
Lambda Function
Lambda Expressions

In [41]:
def f(x, y):
    return x + y

In [42]:
f(4,4)

8

In [43]:
# The Keyword: lambda
# A Bound Variable: x
# A body: x

# No Statements
# Single Expression
# Type Annotation
# IIFE: immediately invoked funtion execution
# Default Parameters, Keyword Parameters, Key-value Parameters

f_la = lambda x, y: x + y
f_la(4,4)

8

In [44]:
import dis
dis.dis(f)
f

  2           0 LOAD_FAST                0 (x)
              2 LOAD_FAST                1 (y)
              4 BINARY_ADD
              6 RETURN_VALUE

In [45]:
dis.dis(f_la)
f_la

 11           0 LOAD_FAST                0 (x)
              2 LOAD_FAST                1 (y)
              4 BINARY_ADD
              6 RETURN_VALUE

In [46]:
(lambda x, y=0: x**2 + y)(2)

4

In [47]:
users = ["zack doe", "ali nik", "hadi farahani", "zeinab khosravi", "majid zamani" , "javad tadayon","alireza jahandideh"]

In [48]:
users.sort(key = lambda x : x.split(" ")[-1])
users

['zack doe',
 'hadi farahani',
 'alireza jahandideh',
 'zeinab khosravi',
 'ali nik',
 'javad tadayon',
 'majid zamani']

In [49]:
full_name = lambda first, last: first.strip().title() + " " + last.strip().title()

In [50]:
full_name("     alireza", "jahandideh     ")

'Alireza Jahandideh'

In [51]:
#  m

def build_quad_funtion(a, b, c):
    return lambda x: a*x**2 + b*x + c


f = build_quad_funtion(2, 1, 1)
f(3)

22

In [52]:
def is_narcissistic(i):
    i_str = str(i)
    sum = 0
    for digit in i_str:
        sum += int(digit) ** len(i_str)

    return sum == i

In [53]:
def is_narcissistic(i):
    return sum(int(digit) ** len(str(i)) for digit in str(i)) == i

In [54]:
#  map(function, iterator)
#  filter(function, iterator)
def is_narcissistic(i):
    i_str = str(i)  # "153"
    return sum(map(lambda x: int(x)**len(i_str), i_str)) == i

In [55]:
is_narcissistic(154)

False